html, body {
    margin: 0;/*清除默认样式*/
    padding: 0;
    height: 100%;
}

#app {
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.code-container {

}

.code-img {

}
