body {
    background-color: #F5F5F5;
}

.main {
    padding: 0;
    max-width: none;
    /*margin-bottom: 60px;*/
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .6s;
}

.navbar:hover{
    background-color: rgb(0, 0, 0);
}
.nav-link:hover{
    color: #eaeaea;
    font-weight: 200;
}
.nav-link{
    color: #FFF;
    font-weight: 400;
}

.top-banner {
    width: 100%;
    /*margin-top: 80px;*/
    margin-left: auto;
    margin-right: auto;
}

.top-banner img {
    background: #000000;
    display: block;
    width: 100%;
    height: 560px;
}


.top-text {
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    width: 100%;
    background: #ffffff;
    text-align: center;

}

.top-text > h1 {
    text-align: left;
    width: 40%;
    margin-left: 30%;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 34px;
    display: block;
    font-weight: 300;
    color: #0d1318;
    font-family: 'Heiti SC';

}

.view-content {
    padding: 0;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    /*background-color: #F5F5F5;*/

}

.view-card {
    position: relative;
    float: left;
    background-color: #ffffff;
    width: calc(25% - 40px);
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.view-card:hover {
    box-shadow: 0 0px 36px rgba(0,0,0,.1);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.view-img {
    height: 200px;
    width: 100%;
    display: block;
    transition: all 0.6s;
}

.view-img:hover {
    transform: scale(1.02);
}

.view-title{
    position: absolute;
    bottom: 60px;
    /*left: 48px;*/
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 38px;
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
}

.view-text{
    position: absolute;
    bottom: 20px;
    /*left: 48px;*/
    /*margin-right: 48px;*/
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 34px;
    display: block;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000000;
}

.card-main {
    text-decoration:none;
}

.card-main:hover {
    text-decoration:none;
    outline: none;
}

.card-main:focus {
    text-decoration:none;
    outline: none;
}

.card-link {
    float: right;
    padding:10px;
}

.modal-detail {
}

.modal-dialog {
    width: 1000px;
    max-width: 1000px;
}

.close {
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    z-index: 9002;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.headshot >img {
    width: 300px;
    height:300px;
    padding-top: 20px;
}

.content-left {
    text-align: center;
}

.content-left > h3 {
    color: #9e9e9e;
    font-size: 18px;
    margin-bottom: 25px;
}

.content-right {
    padding: 20px;
}

.content-right > h1 {
    color: rgb(51, 51, 51);
    font-family: "Benton Sans", SimHei, "Sim Hei", 华文细黑, STXihei, Arial, sans-serif;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.content-right > h3 {
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 25px;
}

.bio > p {
    font-size: 14px;
    line-height: 26px;
    color: #777777;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

.inner-detail {
    margin: 0px;
}
