body {
    background-color: #efefef;
}

.main {
    padding: 0;
    max-width: none;
    /*margin-bottom: 60px;*/
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .6s;
}

.navbar:hover{
    background-color: rgb(0, 0, 0);
}

.nav-link:hover{
    color: #eaeaea;
    font-weight: 200;
}
.nav-link{
    color: #FFF;
    font-weight: 400;
}

#owl-banner {
    width: 100%;
    /*margin-top: 80px;*/
    margin-left: auto;
    margin-right: auto;
}
#owl-banner .item {
    display: block;
}
#owl-banner img {
    background: #000000;
    display: block;
    width: 100%;
    /*height: 640px;*/
    height: 100%;
}

.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    /*background: #004995;*/
    background: #000000;
    margin-top: 0px;
}

.row-card {
    width: 1280px;
    /*height: 640px;*/
    margin: auto;
    /*position: absolute;*/
    left: 0;
    right: 0;

    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;


}

#row-first {
    margin-bottom: 20px;
}

#row-second {
    margin-bottom: 60px;
}

.title-card {
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #0d1318;
    font-family: 'Heiti SC';
}

.card {
    width: 380px;
    margin: 10px;
    height: 320px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.15rem;

}

.card-top {
    margin-bottom: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0px 36px rgba(0,0,0,.1);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.card-main {
    text-decoration:none;
}

.card-main:hover {
    text-decoration:none;
}

.card-link {
    float: right;
    padding:10px;
}

.card-img {
    height: 240px;
    width: 100%;
    display: block;
    transition: all 0.6s;
}

.card-img:hover {
    transform: scale(1.2);
}

.card-body {
    padding-bottom: 0;
    padding-top: 0;
}

.card-title {
    font-size: 16px;
    color: #0d1318;
    font-family: 'Heiti SC';
}

.card-text {

    font-size: 14px;
    color: #222222;
    font-family: 'Heiti SC';
    letter-spacing: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
