body{
    background-color: #F5F5F5;
}


.main {
    padding: 0;
    max-width: none;
    margin-bottom: 60px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .6s;
}

.nav-change {
    background-color: rgb(0, 0, 0);
}

.navbar:hover{
    background-color: rgb(0, 0, 0);
}
.nav-link:hover{
    color: #eaeaea;
    font-weight: 200;
}
.nav-link{
    color: #FFF;
    font-weight: 400;
}

.top-banner {
    width: 100%;
    /*margin-top: 80px;*/
    margin-left: auto;
    margin-right: auto;
}

.top-banner img {
    background: #000000;
    display: block;
    width: 100%;
    height: 560px;
}

.top-text {
    color: #fff;
    position: absolute;
    top: 260px;
    transform: translateY(-50%);
    width: 100%;
    z-index: 3;
    text-align: center;
}

.top-text > h3{
    /*font-family: "Benton Sans Light", SimHei, "Sim Hei", 华文细黑, STXihei, Arial, sans-serif;*/
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 38px;
    display: block;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.top-text > span{
    /*font-family: "Benton Sans", SimHei, "Sim Hei", 华文细黑, STXihei, Arial, sans-serif;*/
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 38px;
    display: block;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.overlay {
    height: 560px;
    /*margin-top: 80px;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.4);
}

.row-card {
    width: 1120px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 60px;
}


.card {
    width: 100%;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0.15rem;
    margin-bottom: 20px;

}

.card-top {
    margin-bottom: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0px 36px rgba(0,0,0,.1);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.card-main {
    text-decoration:none;
}

.card-main:hover {
    text-decoration:none;
}

.card-main:focus {
    text-decoration:none;
    outline: none;
}

.card-link {
    float: right;
    padding:10px;
}

.card-img {
    height: 200px;
    width: 100%;
    display: block;
    transition: all 0.6s;
}

.card-img:hover {
    transform: scale(1.2);
}

.card-body {
    letter-spacing: 8px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

.card-title {
    margin-bottom: 6px;
    font-size: 16px;
    color: #0d1318;
    font-family: 'Heiti SC';
}

.card-text {

    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Heiti SC';

}

.item-title {
    margin: 40px;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 38px;
    display: block;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
}

.item-subtitle {
    margin-left: 40px;
    margin-top: -20px;
}

.item-depart {
    float: left;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 34px;
    display: block;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000000;
}

.item-address {
    float: left;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 34px;
    display: block;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000000;
    margin-left: 40px;
}

.item-link {
    float: right;
    margin-right: 30px;
    /*margin-left: 660px;*/
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    /*margin-left: auto;*/
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans TC",Helvetica,Arial;
    min-width: 80px;
    min-height: 32px;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-size: 1.3rem;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 19px;
    padding: 7px 18px;
    text-decoration: none;
}

.modal-dialog {
    width: 800px;
    max-width: 1000px;

}

.close {
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    z-index: 9002;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}


.content-title {
    font-size: 28px;
    margin: 40px;
    color: #000000;
    letter-spacing: 6px;
    font-family: 'Heiti SC';
}

.content-subtitle {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 34px;
    display: block;
    font-weight: 300;
    /*font-size: 18px;*/
    color: #000000;
    letter-spacing: 6px;
    margin-left: 40px;
    margin-top: -20px;
    font-family: 'Heiti SC';
}

.content-address {
    margin-left: 20px;
    font-family: 'Heiti SC';
}

.content-first {
    margin: 40px;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: 'Heiti SC';
}

.first-title {
    color: #bfbfbf;
    font-family: 'Heiti SC';
}

.first-content {
    margin-top: 10px;
    font-family: 'Heiti SC';
}

.content-second {
    margin: 40px;
    font-size: 14px;
    letter-spacing: 4px;
    font-family: 'Heiti SC';
}

.second-title {
    color: #bfbfbf;
    font-family: 'Heiti SC';
}

.second-content {
    margin-top: 10px;
    font-family: 'Heiti SC';
}

.content-footer {
    margin: 40px;
    font-size: 16px;
    letter-spacing: 6px;
    color: #004995;
    font-family: 'Heiti SC';
}
