
.top-bar {
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 48px;
    background: #FFFFFF;
}

.top-title {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 45px;
}

.top-all {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    margin-left: auto;
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans TC",Helvetica,Arial;
    min-width: 80px;
    min-height: 32px;
    height: auto;
    text-align: center;
    font-size: 13px;
    font-size: 1.3rem;
    background-color: #EBEBEB;
    border: none;
    border-radius: 20px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 19px;
    padding: 7px 18px;
    margin: 0;
    text-decoration: none;
}
